.main_section_style {
  height: fit-content;
  font-family: "Roboto";
  margin: 1rem;
  padding: 2rem;
  background-color: #82dbd8;
  border-radius: 10px;
  min-height: 85vh;
}

.no_data {
  display: flex;
  justify-content: center;
}

.main_heading_style {
  font-size: 2rem;
}

.content_area {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 1%;
  grid-row-gap: 50px;
  justify-content: space-between;
}

.second_half {
  position: relative;
  background-color: #b8fff9;
  border-radius: 5px;
  height: fit-content;
  margin-right: 10px;
}

.character_details {
  padding: 10px;
  font-size: 12px;
}
hr {
  border-width: 0.5px;
  border-color: rgb(142, 119, 103);
}

.sub_details {
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.sub_details p:nth-child(2) {
  color: orange;
  text-align: end;
}

.sort_by_filter {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.bottom-left {
  position: relative;
  left: 50%;
  transform: translate(-50%, -130%);
  color: white;
  background-color: rgb(63, 57, 48);
  opacity: 0.8;
}

.pagination-div {
  display: flex;
  height: 25px;
  margin-left: 20px;
}

.current-page {
  margin-right: 20px;
  margin-left: 10px;
  padding-top: 5px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.btn {
  background-color: #54d6f7;
  text-align: center;
  border-radius: 3px;
  color: white;
}

.imgDiv {
  height: 300px;
}

.img_style {
  width: -webkit-fill-available;
  border-radius: 5px;
  height: -webkit-fill-available;
}

.characters_name {
  font-size: 20px;
  padding: 10px 5px 0px 5px;
}

.characters_id {
  font-size: 10px;
  padding: 0px 5px 10px 5px;
}

@media (max-width: 768px) and (min-width: 480px) {
  .content_area {
    grid-template-columns: 48% 48%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .content_area {
    grid-template-columns: 96%;
    justify-content: center;
  }
  .sort_by_filter {
    padding: 5px 0px 10px 0px;
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .content_area {
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
}
