.main_section_style {
  height: fit-content;
  font-family: "Roboto";
  margin: 1rem;
  padding: 2rem;
  width: 74vw;
  background-color: #82dbd8;
  border-radius: 10px;
}

.main_heading_style {
  font-size: 2rem;
}

.content_area {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 2%;
  grid-row-gap: 50px;
}

.second_half {
  position: relative;
  background-color: #b8fff9;
  width: 15rem;
  border-radius: 5px;
  height: fit-content;
  margin-right: 10px;
}

.character_details {
  padding: 10px;
  font-size: 12px;
}
hr {
  border-width: 0.5px;
  border-color: rgb(142, 119, 103);
}

.sub_details {
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
