.main_section_style {
    height: 85vh;
    font-family: 'Roboto';
    margin: 1rem;
    padding: 2rem;
    width: 75vw;
}

.main_heading_style {
    font-size: 2rem;
}

.content_area {
    background-color: black;
    margin-top: 10px;
    padding: 10px;
}

.second_half {
    background-color:dimgrey;
    width: 11rem;
    border-radius: 5px;
    height: fit-content;
}

.character_details {
    padding: 10px;
    font-size: 12px;
    
}
hr {
    border-width: .5px;
    border-color:rgb(142, 119, 103);
}