.main_section {
  font-family: "Roboto";
  margin: 1rem;
  padding: 2rem;
  height: 85vh;
  background-color: #82dbd8;
  border-radius: 10px;
}

.boder {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.main_heading {
  font-size: 2rem;
}

.sub_heading {
  font-size: 20px;
  margin: 8px;
  font-weight: 700;
}
