.main_section {
    font-family: 'Roboto';
    margin: 1rem;
    padding: 2rem;
    height: 85vh;
    width: 12vw;
}

.boder {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.main_heading {
    font-size: 2rem;
}

.sub_heading {
    font-size: 20px;
    margin: 8px;
    font-weight: 700;
}